REDDIT_BASE_URI='https://www.reddit.com'
REDDIT_APP_ID=<get yours from https://www.reddit.com/prefs/apps>
REDDIT_APP_SECRET=<get yours from https://www.reddit.com/prefs/apps>
REDDIT_APP_REDIRECT_URI=<get yours from https://www.reddit.com/prefs/apps>

# export to client
REACT_APP_REDDIT_BASE_URI=${REDDIT_BASE_URI}
REACT_APP_REDDIT_APP_ID=${REDDIT_APP_ID}
REACT_APP_REDDIT_APP_REDIRECT_URI=${REDDIT_APP_REDIRECT_URI}